body{
background-color: #ffefe0;
font-family: cursive;

}

h1{
text-align: center; 
}

h2{
text-align: center;
}


.Ejercicio3{
text-align: center;
font-size: 150%;
}


.Ejercicio4{
text-align: center;
font-size: 150%;
}